cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
en-core-web-sm==2.0.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
numpy==1.14.2
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
regex==2017.4.5
six==1.11.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.22.0
ujson==5.2.0
wrapt==1.10.11
